<h3>Hubble Space Telescope Call for Proposals</h3>

<p>We invite scientists to participate in Cycle 21 of the Hubble Space Telescope (HST). The telescope and its instruments 
were built under the auspices of the National Aeronautics and Space Administration (NASA) and the European Space 
Agency (ESA). Management of HST's scientific program is carried out by the Space Telescope Science Institute (STScI). 
We anticipate allocating up to 3200 orbits in this cycle, including 1800 orbits for Small Programs, 400 orbits for Medium 
Programs, and 1000 orbits for Large and Treasury Programs. An additional 1000 Snapshot observations may be allocated. 
Abstracts of previously accepted programs can be found on the HST proposal catalogs webpage.
</p>
<ul>
	<li>Phase I proposal deadline: Friday, <b> <font color="04B404">March 1, 2013, 8:00 pm EST</font></b></li>
	<li>E/PO proposal deadline: Wednesday, <b> <font color="04B404">August 21, 2013, 5:00 pm EDT</font></b></li>
</ul>
<b>Where to Get Help</b>
<ul>
	<li>Read this Call for Proposals and the <u><b><%= link_to "HST Primer", primer_path, {:style=>'color:#FF0040;'} %></b></u></li>
	<li>Visit the STScI <u><%= link_to  "Phase 1 Proposal Roadmap", "http://apst.stsci.edu/apt/external/help/roadmap1.html", {:style=>'color:#FF0040;'} %></u></li>
	<li>Visit the <u><%= link_to "Cycle 21 Announcement Webpage", "http://www.stsci.edu/hst/proposing/docs/cycle21announce", {:style=>'color:#FF0040;'} %></u></li>
	<li>Visit STScI's website at <u><%= link_to "http://www.stsci.edu", "http://www.stsci.edu", {:style=>'color:#FF0040;'} %></u></li>
	<li>Contact the STScI Help Desk. Either send an email to <b>help@stsci.edu</b>, call 1-800-544-8125, or call +1-410-338-1082 
	    from outside the U.S. and Canada.</li>
</ul>

