<h3>Home</h3>
<% if user_signed_in? %>
 
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>  
  <%= link_to 'Create New Proposal', new_proposal_path, :class => 'btn btn-warning' %>

 <% end %>