<h3>Hubble Space Telescope Primer for Cycle 21</h3>
<p>
	<b>How to Get Started</b>
</p>
<p>
	For information about submitting a HST observing proposal, please begin at the Cycle 21 Announcement Web page at:
	<%= link_to "http://www.stsci.edu/hst/proposing/docs/cycle21announce", { :remote => true} %>
</p>
<p>
	Procedures for submitting a Phase I proposal are available at:
<br>	<%= link_to "http://apst.stsci.edu/apt/external/help/roadmap1.html", { :remote => true} %>
</p>
<p>
	Technical documentation about the instruments are available in their respective handbooks, available at:
<br>	<%= link_to "http://www.stsci.edu/hst/HST_overview/documents", { :remote => true} %>
</p>
<p>
	<b>Where to Get Help</b>
</p>
<p>
	Contact the STScI Help Desk by sending a message to help@stsci.edu. Voice mail may be left by calling 1-800-544-8125 (within the US only) or 410-338-1082.
</p>
