<h1>Terms of  Service</h1>
THE MATERIALS AT THIS SITE ARE PROVIDED "AS IS" WITHOUT ANY EXPRESS OR IMPLIED
 WARRANTY OF ANY KIND INCLUDING WARRANTIES OF MERCHANTABILITY, NONINFRINGEMENT
  OF INTELLECTUAL PROPERTY, OR FITNESS FOR ANY PARTICULAR PURPOSE. IN NO EVENT
   SHALL LEGAL RIVER, INC. OR ITS AGENTS OR OFFICERS BE LIABLE FOR ANY DAMAGES
    WHATSOEVER (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF PROFITS,
     BUSINESS INTERRUPTION, LOSS OF INFORMATION) ARISING OUT OF THE USE OF OR
      INABILITY TO USE THE MATERIALS, EVEN IF LEGAL RIVER, INC. HAS BEEN ADVISED
       OF THE POSSIBILITY OF SUCH DAMAGES.